
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>
            X-admin v1.0
        </title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="format-detection" content="telephone=no">
        <link rel="stylesheet" href="/static/css/x-admin.css" media="all">
        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
        <script src="/static/js/x-admin.js"></script>
        <script src="/static/js/jquery.min.js"></script>
    </head>
    <body>

<div  >
	<table class="table">
		<tr>
			<th>姓名</th>
			<th>手机号</th>
			<th>项目</th>
			<th>客户类型</th>
			<th>价格/班次</th>
		</tr>
		<tr>
			<td><strong>{{cus.c_name}}</strong></td>
			<td id="phone"><strong id="shouji" onclick="getphone({{cus.id}})" >********</strong></td>
			<td><strong>{{cus.project}}</strong></td>
			<td><strong>{{cus.genre}}</strong></td>
			<td><strong>{{cus.price_banci}}</strong></td>
		</tr>
	</table>
	</div>


<div style="width: 210px;margin: 0 auto;">
  {%for i in old_act%}
  <p>
  {{i.date_time|time_split}}|
  {{i.old_genre}}|
  {{i.old_banci}}
  </p>
  {%endfor%}
</div>





<div style="width: 600px;margin: 0 auto;">
{%for info in cus_info%}
<div >
	<a class="list-group" style="position: relative;left: 240px;background-color: #84C1FF;">{{info.date_time}}</a>
	<a class="list-group">
		<a class="list-group-item  active">
      {%if info.sale_name%}
    	<h4 class="list-group-item-heading">动态({{info.sale_name}})</h4>
      {%else%}
      <h4 class="list-group-item-heading">动态</h4>
      {%endif%}
    	<p class="list-group-item-text">{{info.dongtai}}</p>
  		</a>
	</a>
	<a class="list-group">
 		<a  class="list-group-item  active">
      {%if info.sale_name%}
      <h4 class="list-group-item-heading">下通电话思路({{info.sale_name}})</h4>
      {%else%}
      <h4 class="list-group-item-heading">下通电话思路</h4>
      {%endif%}
    	<p class="list-group-item-text">{{info.next_phone}}</p>
  		</a>
	</a>
	<a class="list-group">
  		<a  class="list-group-item  active">
    	{%if info.pink%}
      <h4 class="list-group-item-heading">质检({{info.pink}})</h4>
      {%else%}
      <h4 class="list-group-item-heading">质检</h4>
      {%endif%}
    	{%if info.info%}
      <p class="list-group-item-text">{{info.info}}</p>
    	{%else%}
    		<form action="{{url_for('pink.replay_info',id=info.id,search_d=search_d)}}" method="post">
      <textarea name="pink_info" cols="70" rows="3" class="form-control" ></textarea>
      <input type="submit" name="提交" value="回复" class="btn btn-primary" style="background-color: green;">
    </form>
    	{%endif%}
  		</a>

  {%for c in comments%}
    {%if c.info_id == info.id%}
  <a class="list-group">
    <a  class="list-group-item  active">
      <p class="list-group-item-text">{{c.name}}:{{c.comment}}------{{c.date_time|time_split}}</p>
      </a>
      </a>      
      {%endif%}
    {%endfor%} 
	</a>
  
  <div onclick="getcomment()" style="border-style: solid; border-width: 1px 1px;border-color: gray;width: 600px;margin: 0 auto;bottom: 50px;" placeholder="评论">
    <a id="comment_a"  style="display: block;">评论</a>
    <form onblur="hidecomment()" id="comment_form" action="{{url_for('pink.comment',info_id = info.id,c_id = info.c_name_id)}}" style="display: none;" method="post">
      <textarea name="comment" cols="70" rows="1" class="form-control" ></textarea>
      <button type="submit" class="btn btn-primary" style="position: relative;float: right;">发表</button>
    </form>
  </div>
</div>
		

{%endfor%}
	</div>

</div>
</div>

</body>
<script type="text/javascript">

  function getphone(id){
    var t = document.getElementById('shouji').innerHTML;
    if (t=='********'){
      var r_url = '/user/log_record/'+id.toString();
    $.ajax({url:r_url
      ,success:function(data){
        // var data_s = JSON.stringify(data)
        $('#shouji').text(data.phone);
      }});
    // id.innerHTML=data.phone;
    }
    
    
  }
  
  function reset(id){
    var f_id = document.getElementsById(id).parentNode.id;
    document.getElementsById(f_id).style.display="none";
    document.getElementsById("form").style.display="";

  }
  function getcomment(){
    var old = document.getElementById('comment_a');
    var comment_form=document.getElementById('comment_form');
    old.style.display='none';
    comment_form.style.display='block';
  }
  function hidecomment(){
    var old = document.getElementById('comment_a');
    var comment_form=document.getElementById('comment_form');
    old.style.display='block';
    comment_form.style.display='none';
  }
</script>
</html>



